[[source]]
url = "https://mirrors.cloud.tencent.com/pypi/simple"
verify_ssl = true
name = "tencent"

[packages]
click = "*"

[dev-packages]
pylint = "*"
yapf = "*"
pytest = "*"

[requires]
python_version = "3.7"
