[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "Douban"

[packages]
click = "*"
toml = "*"
pipenv = "*"

[dev-packages]
pylint = "*"
yapf = "*"
pytest = "*"
twine = "*"

[requires]
python_version = "3.7"
